
header {
    background-color:#0d0363;
    color:white;
	width:105%;
	height:auto;
}
footer {
    width:105%;
	height:auto;
	background:#242526;
    text-align:center;
    color: white;
	
}
table,tr{
  border: 3px solid black;
}
.vertical-line{
        width: 100%;
        margin: auto;
        margin-top: 40%;
        margin-bottom: 20%;
        transform: rotate(90deg);
        border-color: white;
    }